<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwjf.mapper.AccountMapper">
	
 	<!-- 查询所有账户 -->
 	<select id="getAreaAccount" parameterType="int" resultType="Account">
 		select employeeid,roleid,areaid from account where areaid = #{areaId}
 	</select>
 	
 	<!-- 查询总行数 -->
 	<select id="getPage" resultType="int">
 		select count(1) from account
 	</select>
 	
 	<!-- 条件查询获取帐户信息 -->
	<select id="getAcccountByConditions" resultType="account">
		select * from account where accountId=#{accountId,jdbcType=VARCHAR} and status=#{status,jdbcType=INTEGER}
	</select>
	
	<!-- 查询区域内所有账号户 -->
	<select id="getAccountList" parameterType="int" resultType="Account">
		select employeeid,roleid,areaid from (select A.*,rownum rn from( select employeeid,roleid,areaid from account )A where rownum  &lt; (#{start}/10+1)*10+1 )where rn &gt; #{start}
	</select>
	
	<!-- 获取帐户信息通过员工ID -->
	<select id="getAccountByEmployeeId" parameterType="int" resultType="Account">
		select employeeid,roleid,areaid from account where employeeid = #{employeeId}
	</select>
	
	<!-- 根据employeeid修改roleid -->
	<update id="UpdateRole" parameterType="int" >
		update account set roleid=#{roleId} where employeeid=#{employeeId}
	</update>
	
	<update id="setPasswordById" parameterType="Account">
		update account set password=#{password} where accountId=#{accountId}
	</update>
	
</mapper>