<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwjf.mapper.AccountMapper">
	
 	<!-- 查询所有账户 -->
 	<select id="getAccountList" parameterType="int" resultType="Account">
 		select * from (select A.*,rownum rn from( select * from account )A where rownum  &lt; (#{start}/10+1)*10+1 )where rn &gt; #{start}
 	</select>
 	<!-- 条件查询获取帐户信息 -->
	<select id="getAcccountByConditions" resultType="account">
		select * from account where accountId=#{accountId,jdbcType=VARCHAR} and status=#{status,jdbcType=INTEGER}
	</select>
	<!-- 通过员工ID修改账户密码 -->
	<update id="setAccountPasswordById" parameterType="account" >
 		update  account set password=#{password,jdbcType=VARCHAR} where accountId = #{accountId,jdbcType=VARCHAR}
 	</update>
</mapper>