<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwjf.mapper.EmployeeMapper">
	
 	<!-- 根据工号查询单个员工信息 -->
 	<select id="getEmployeeById" parameterType="int" resultType="Employee">
 		select employeeid,name from employee where employeeid=#{employeeId}
 	</select>
 	
 	<!-- 根据名字模糊查员工信息 -->
 	<select id="getEmployeeByName" parameterType="String" resultType="Employee">
 		select employeeid,name from employee where name like '%${_parameter}%'
 	</select>
</mapper>